/**
 * @forms
 */
form > div, fieldset > div {
  margin: 15px 0; }

form {
  /* lists */ }
  form .f {
    margin-top: 0; }
  form .l {
    margin-bottom: 0; }
  form h3 {
    margin-top: 30px; }
  form ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  form li {
    margin: 0;
    padding: 0; }
  form ul.inline li {
    display: inline; }

/* fieldsets */
fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  clear: both; }

h3.fieldset_title {
  margin-top: 0;
  margin-bottom: 3px;
  color: #666; }

h3 + fieldset {
  margin-top: 0; }

/* labels */
label {
  display: block;
  font-weight: bold; }
  label small {
    font-weight: normal; }

label.chk, label.radio {
  font-weight: normal;
  display: inline;
  margin: 0;
  padding-left: 3px;
  padding-right: 10px; }

/* input elems */
select {
  width: auto;
  margin-top: 4px; }

input.file {
  width: auto; }

/* text input varieties */
input.txt {
  width: 200px;
  margin-top: 4px; }

input.radio, input.chk {
  width: auto; }

input.short {
  width: 100px; }

input.long {
  width: 400px; }

/* textareas */
textarea {
  width: 400px;
  height: 100px;
  margin-top: 4px; }

textarea.fill {
  width: 100%;
  height: 400px; }

/* buttons */
input.btn {
  width: auto;
  padding: 2px 4px; }

/* submit area */
div.submit {
  margin-top: 20px; }

fieldset .f {
  margin-top: 0; }

/* error messages */
form .error-w {
  margin-top: 4px; }
  form .error-w input, form .error-w select, form .error-w textarea {
    margin-top: 0; }

form div.error .error-w {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c00;
  border-width: 1px;
  padding: 5px;
  margin-left: -5px;
  margin-right: 8px;
  display: inline-block; }

form span.error {
  font-weight: bold;
  font-size: 12px;
  margin-top: 8px;
  background: url(images/error.png) no-repeat 0 1px;
  padding-left: 18px;
  display: inline-block;
  vertical-align: top; }

/* help messages */
form .help {
  font-size: 11px;
  color: #555;
  font-weight: normal;
  display: block; }

label small.help {
  display: inline; }

/** multiple inputs together */
form .multiple {
  overflow: hidden;
  width: 100%; }

form .multiple div {
  float: left;
  margin: 0 0 0 15px; }

form .multiple .first {
  margin-left: 0; }
